/*Auth Login/Registration */
.authHero{
    position: relative;
    display: table;
    background: url("../imgs/loginBackground.jpg") no-repeat center / cover;
    opacity: 90%;
    height: 50%;
    width: 100%;
}
.authContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Characteristics of the login box of the Login webpage. */
.authBox {
    width: 30%;
    background: black;
    color: #dbd8c9;
    position: relative;
    box-sizing: border-box;
    padding: 90px 40px;
    margin: 5% 0;
    /* Removes the sharpness of the login box borders. */
    border-radius: 10px;
}
/* Characteristics of the avatar of the login box. */
.authAvatar {
    width: 100px;
    height: 100px;
    position: relative;
    top: -50px;
    left: calc(50% - 50px);
}
/* AUTH Errors*/
.alertDiv{
    width: 100%;
    padding: 5% 0;
}
.errorMessage{
    color: red;
}
/* Characteristics of the heading h1. */
.authHero h1 {
    margin: 25px 0;
    padding: 0;
    text-align: center;
    font-size: 32px;
}
/* Characteristics of the paragraph of the login box. */
.authHero p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}
/* Characteristics of the input of the login box. */
.authHero input {
    width: 100%;
    margin-bottom: 30px;
}
/* Characteristics of the dropdown menu of the login box. */
.authBox select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    background: rgb(74, 94, 131);
    outline: none;
    height: 30px;
    color: #dbd8c9;
    font-size: 17px;
    /* Removes the sharpness of the dropdown menu borders. */
    border-radius: 10px;
}
/* Characteristics of the username and password fields of the login box. */
.authBox input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #dbd8c9;
    background: transparent;
    outline: none;
    height: 40px;
    color: #dbd8c9;
    font-size: 16px;
}

/* Characteristics of the submit field (Login button) of the login box. */
.authBox input[type="submit"] {
    border: none;
    background: rgb(74, 94, 131);
    outline: none;
    height: 40px;
    color: #dbd8c9;
    font-size: 17px;
    border-radius: 10px;
}
/* When the cursor is over the submit field (Login button), it changes its color. */
.authBox input[type="submit"]:hover {
    cursor: pointer;
    background: darkslategray;
}

/*  Home Page */
.header{
    height: 600px;
    background-image: url(../imgs/background.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 35px;
    text-align: center;
}
.header .nav-list {
    display: inline-block;
}
.header .nav-list li{
    display: inline-block;
    padding: 15px 0;
}
.header .nav-list span{
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-color: orange;
    text-decoration-thickness: 3px
}
.header .nav-list a {
    text-decoration: none;
    text-decoration-color: orange;
    color: white;
}
.header .nav-list span:hover{
    text-decoration-color: white;
    text-decoration-thickness: 1px
}
.header .nav-list a:hover{
    color: orange !important;
}
.header h1{
    font-size: 60px;
    font-family:serif;
    margin-top: 90px;
}
.header h1 span{
    color: orange;
}
.header .desc{
    width: 450px;
    height: 55px;
    line-height: 55px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    border: 1px solid white;
    margin: 30px auto auto;
}
.members-section{
    margin: 50px 0;
    text-align: center;
}
.members-section h2{
    margin-top: 80px;
}
.members{
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.member{
    width: 25%;
    box-shadow: 0 0 15px #bbbbbb;
    padding: 0 10px;
    margin:  1% 10px;
    border-radius: 40px;
}
.member img{
    margin-top: 4px;
    width: 100%;
    border-radius: 40px;

}
.member h3{
    font-size: 25px;
    margin-top: 5px;
}
.member p{
    padding: 20px;
    text-align: justify;
    line-height: 30px;

}
.about{
    height: 100%;
    background-image: url('../imgs/bg.jpeg');
    background-size: cover;
    background-color: #20211fe8;
    background-blend-mode: multiply;
    overflow: hidden;
}
.about .circle{
    position: relative;
    height: 300px;
    width: 700px;
    margin: 50px auto;
    border-radius: 50%;
    background-color: #ffa500d9;
    text-align: center;
    padding: 100px 120px;
    color: black;
}
.about .circle h2{
    font-size: 35px;
}
.about .circle p{
    margin-top: 40px;
    font-size: 16px;
    line-height: 30px;
}
.user-guide{
    margin: 75px 0;
    display: block;
}
.user-guide h2{
    text-align: center;
    padding: 20px 30px;
    background-color:  #ffa500d9;
}
.user-guide .steps{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 4% 0;
    flex-wrap: wrap;
    justify-content: center;
}
.user-guide .step{
    width: 400px;
    margin: 10px 10px;
    box-shadow: 0 0 15px #bbbbbb;
    border-radius: 40px;
}
.user-guide .step h4{
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ffa500d9;
    border-bottom: 1px solid #ffa500d9;
}
.user-guide p{
    padding: 0 20px;
    text-align: justify;
    line-height: 30px;
}
